<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <img
    src="{{product.image}}"
    alt="image"
  >

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <h6 *ngIf="product.rating">
    Rating: {{ product.rating }}
  </h6>

<!--  <button (click)="share()">-->
<!--    Share-->
<!--  </button>-->

  <share-buttons
    theme="material-dark"
    show="2"
    size="1"
    [include]="[
      'whatsapp'
    ]"
    autoSetMeta="false"
    url="{{product.link}}"
  ></share-buttons>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>
