body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    align-items: center;
    padding: 72px 0 112px;
    background-color: #F0F2F5;
}

.container__content {
    display: flex;
    padding: 60px 0;
}

.container__content__left {
    display: flex;
    flex-direction: column;
    width: 580px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 65px;
}

.container__content__left__title {
    display: flex;
}

.container__content__left__title__logo {
    display: flex;
    width: 240px;
}

.container__content__left__text {
    display: flex;
}

.container__content__left__text__description {
    display: flex;
    width: 500px;
    margin-top: 22px;
}

.container__content__right {
    display: flex;
    width: 396px;
    flex-direction: column;
}

.container__content__right__login {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1), 0 8px 16px rgb(0, 0, 0, 0.1);
    padding: 8px 0 23px;
}

.container__content__right__login__block {
    display: flex;
    flex-direction: column;
}

.container__content__right__login__block__login-input {
    display: flex;
    border-radius: 6px;
    width: 330px;
    height: 22px;
    border: 1px solid #dddfe2;
    margin: 7px 0;
    padding: 14px 16px;
    font-size: 17px;
    outline: none;
}

.container__content__right__login__block__login-input:focus {
    border: 1px solid #1877F2;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877F2;
}

.container__content__right__login__block__login-input::placeholder {
    color: #9094A9;
}

.container__content__right__login__block__login-input:focus::placeholder {
    color: #BEC3C9;
}

.container__content__right__login__block__password-input {
    display: flex;
    border-radius: 6px;
    width: 330px;
    height: 22px;
    border: 1px solid #dddfe2;
    margin: 7px 0;
    padding: 14px 16px;
    font-size: 17px;
    color: #1d2129;
    outline: none;
}

.container__content__right__login__block__password-input:focus {
    border: 1px solid #1877F2;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877F2;
}

.container__content__right__login__block__password-input::placeholder {
    color: #9094A9;
}

.container__content__right__login__block__password-input:focus::placeholder {
    color: #BEC3C9;
}

.container__content__right__login__in {
    display: flex;
}

.container__content__right__login__in__button {
    display: flex;
    background-color: #1877f2;
    color: #fff;
    border-style: none;
    justify-content: center;
    border-radius: 6px;
    width: 364px;
    height: 48px;
    font-size: 20px;
    line-height: 48px;
    font-weight: bold;
    cursor: pointer;
    margin: 7px 0;
    padding: 0 16px;
    outline: none;
}

.container__content__right__login__in__button:hover {
    background-color: #166fe5;
    transition: 200ms;
}

.container__content__right__login__forgot {
    display: flex;
}

.container__content__right__login__forgot_reference {
    display: flex;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
}

.container__content__right__login__forgot_reference:hover {
    display: flex;
    text-decoration: underline;
}

.container__content__right__login__line {
    display: flex;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
    width: 364px;
}

.container__content__right__login__create {
    display: flex;
}

.container__content__right__login__create__button {
    display: flex;
    height: 48px;
    border-style: none;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    background-color: #42B72A;
    font-size: 17px;
    line-height: 48px;
    cursor: pointer;
    width: 170px;
    margin-top: 5px;
    outline: none;
}

.container__content__right__login__create__button:hover {
    background-color: #36a420;
    transition: 200ms;
}

.container__content__right__authorization {
    flex-direction: row;
    height: 36px;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;
    line-height: 18px;
}

.container__content__right__authorization__reference {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.container__content__right__authorization__reference:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__block {
    display: flex;
}

.footer__block__content {
    display: flex;
    color: #737373;
    width: 980px;
    height: 136px;
    flex-direction: column;
}

.footer__block__content__list {
    display: flex;
    padding: 0;
    margin-bottom: 7px;
    padding-top: 15px;
}

.footer__block__content__list__row {
    display: flex;
}

.footer__block__content__list__row:not(:nth-child(1)) {
    padding: 0 0 0 10px;
}

.footer__block__content__list__row__reference {
    display: flex;
    text-decoration: none;
    color: #737373;
    height: 20px;
}

.footer__block__content__list__row__reference:hover {
    text-decoration: underline;
}

.footer__block__content__line {
    display: flex;
    border-bottom: 1px solid #dddfe2;
    width: 100%;
}

.footer__block__content__block {
    display: flex;
    width: 980px;
    flex-direction: column;
    margin-top: 9px;
}

.footer__block__content__block__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer__block__content__block__list__row {
    display: flex;
}

.footer__block__content__block__list__row:not(:nth-child(1)) {
    padding: 0 0 0 20px;
}

.footer__block__content__block__list__row__reference {
    text-decoration: none;
    color: #737373;
}

.footer__block__content__block__list__row__reference:hover {
    text-decoration: underline;
}

.footer__block__content__copy {
    display: flex;
}

.footer__block__content__copy__right {
    display: flex;
    line-height: 18px;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 18px;
}