body {
    margin: 0;
    background-color: #FAFAFA;
}

.container {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", sans-serif;
    align-items: center;
    padding: 32px 0;
}

.container__content {
    display: flex;
    margin-right: 34px;
}

.container__content__left {
    display: flex;
    width: 439px;
}

.container__content__left__phone {
    display: flex;
}

@keyframes img-1
{
    0%   { opacity: 1; }
    20%  { opacity: 0; }
    40%  { opacity: 0; }
    60%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes img-2
{
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    40%  { opacity: 0; }
    60%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes img-3
{
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    40%  { opacity: 1; }
    60%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes img-4
{
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    40%  { opacity: 0; }
    60%  { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes img-5
{
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    40%  { opacity: 0; }
    60%  { opacity: 0; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes img-6
{
    0%   { opacity: 0; }
    20%  { opacity: 0; }
    40%  { opacity: 0; }
    60%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 1; }
}

.container__content__left__phone__first {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-1;
    animation-duration: 28s;
    animation-iteration-count: infinite;
    transition: 5s;
}

.container__content__left__phone__second {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-2;
    animation-duration: 28s;
    animation-iteration-count: infinite; 
}

.container__content__left__phone__third {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-3;
    animation-duration: 28s;
    animation-iteration-count: infinite; 
}

.container__content__left__phone__fourth {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-4;
    animation-duration: 28s;
    animation-iteration-count: infinite; 
}

.container__content__left__phone__fifth {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-5;
    animation-duration: 28s;
    animation-iteration-count: infinite; 
}

.container__content__left__phone__sixth {
    display: flex;
    position: absolute;
    left: 411px;
    top: 131px;
    animation-name: img-6;
    animation-duration: 28s;
    animation-iteration-count: infinite; 
}

.container__content__right {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-top: 32px;
}

.container__content__right__block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    align-items: center;
    margin-bottom: 10px;
}

.container__content__right__block__logo {
    display: flex;
    width: 175px;
    height: 51px;
    margin: 32px auto 12px;
}

.container__content__right__block__account {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.container__content__right__block__account__block {
    display: flex;
    flex-direction: column;
}

.container__content__right__block__account__block__login {
    display: flex;
    position: relative;
}

.container__content__right__block__account__block__login__input {
    display: flex;
    width: 248px;
    padding: 9px 8px 7px;
    background: transparent;
    border: 1px solid #dbdbdb;
    outline: none;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 6px;
    font-family: "Segoe UI", sans-serif;
    line-height: 18px;
    z-index: 3;
}

.container__content__right__block__account__block__login__label {
    position: absolute;
    top: 0;
    color: #8E8E8E;
    font-family: "Segoe UI", sans-serif;
    background-color: #FAFAFA;
    line-height: 18px;
    font-size: 12px;
    width: 250px;
    z-index: 2;
    padding: 9px 8px 9px;
    
}

.container__content__right__block__account__block__login__input:focus {
    border-color: #8E8E8E;
}

.container__content__right__block__account__block__login__input:not(:placeholder-shown) ~ .container__content__right__block__account__block__login__label {
    font-size: 10px;
    transition: 100ms;
    padding: 0px 8px 18px;
}

.container__content__right__block__account__block__password {
    display: flex;
    position: relative;
}

.container__content__right__block__account__block__password__input {
    display: flex;
    padding: 9px 8px 7px;
    background-color: #FAFAFA;
    background: transparent;
    border: 1px solid #dbdbdb;
    outline: none;
    width: 248px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 6px;
    font-family: "Segoe UI", sans-serif;
    line-height: 18px;
    z-index: 3;
}

.container__content__right__block__account__block__password__label {
    position: absolute;
    top: 0;
    color: #8E8E8E;
    width: 250px;
    font-family: "Segoe UI", sans-serif;
    line-height: 18px;
    font-size: 12px;
    padding: 9px 8px 9px;
    z-index: 2;
    background-color: #FAFAFA;
}

.container__content__right__block__account__block__password__input:focus {
    border-color: #8E8E8E;
}


.container__content__right__block__account__block__password__input:not(:placeholder-shown) ~ .container__content__right__block__account__block__password__label {
    font-size: 10px;
    transition: 100ms;
    padding: 0px 8px 18px;
}

.container__content__right__block__account__block__in {
    display: flex;
    margin: 8px 0;
    justify-content: center;
}

.container__content__right__block__account__block__in__button {
    display: flex;
    color: #fff;
    background-color: #0095F6;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    padding: 5px 9px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Segoe UI", sans-serif;
    outline: none;
    cursor: pointer;
}

.container__content__right__block__account__block__in__button:active {
    opacity: 0.5;
}

.container__content__right__block__account__block__line {
    display: flex;
    align-items: center;
    margin: 14px 0 18px;
}

.container__content__right__block__account__block__line__solid {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dadde1;
}

.container__content__right__block__account__block__line__text {
    display: flex;
    margin: 0 18px;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    color: #8E8E8E;
    font-weight: 600;
    line-height: 15px;
}

.container__content__right__block__account__block__facebook {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.container__content__right__block__account__block__facebook__button {
    display: flex;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #385185;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    outline: none;
    align-items: center;
}

.container__content__right__block__account__block__facebook__button:active {
    opacity: 0.5;
}

.container__content__right__block__account__block__facebook__button__img {
    width: 16px;
    margin-right: 8px;
}

.container__content__right__block__account__reference {
    display: flex;
    justify-content: center;
    color: #00376B;
    font-size: 12px;
    line-height: 14px;
    margin: 12px 0 20px;
    text-decoration: none;
}

.container__content__right__block__account__reference:active {
    opacity: 0.5;
}

.container__content__right__registration {
    display: flex;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    justify-content: center;
    padding: 6px 0;
}

.container__content__right__registration__text {
    display: flex;
    font-size: 14px;
    color: #262626;
    margin: 15px;
}

.container__content__right__registration__text__reference {
    display: flex;
    font-weight: 600;
    color: #0095f6;
    text-decoration: none;
}

.container__content__right__registration__text__reference:active {
    opacity: 0.5;
}

.container__content__right__app {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.container__content__right__app__text {
    display: flex;
    font-size: 14px;
    width: 100%;
    justify-content: center;
}

.container__content__right__app__images {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.container__content__right__app__images__reference {
    display: flex;
}

.container__content__right__app__images__reference:first-child {
    margin-right: 8px;
}

.container__content__right__app__images__reference__image {
    display: flex;
    width: 136px;
}

.container__content__right__app__images__reference__image:active {
    opacity: 0.5;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer__content__main {
    display: flex;
    flex-direction: column;
}

.footer__content__main__block {
    display: flex;
    justify-content: center;
    margin: 0 0 8px 0;
    padding: 0;
}

.footer__content__main__block__list {
    display: flex;
}

.footer__content__main__block__list__reference {
    display: flex;
    margin: 0 8px;
    text-decoration: none;
    color: #8E8E8E;
    font-size: 12px;
    line-height: 14px;
    font-family: "Segoe UI", sans-serif;
}

.footer__content__main__block__list__reference:active {
    opacity: 0.5;
}

.footer__content__secondary {
    display: flex;
    justify-content: center;
}

.footer__content__secondary__block {
    display: flex;
    padding: 0;
    margin-top: 12px;
}

.footer__content__secondary__block__list {
    display: flex;
}

.footer__content__secondary__block__list__reference {
    display: flex;
    text-decoration: none;
    color: #8E8E8E;
    font-size: 12px;
    line-height: 14px;
    font-family: "Segoe UI", sans-serif;
}

.footer__content__secondary__block__list__reference:first-child {
    margin-right: 20px;
}